* {font-family: Arial; color: rgb(61,59,53); background-color: rgb(253,245,220);}
a {color: rgb(118,114,158);}
a:visited {color: rgb(57,54,77);}
a:active {color: rgb(66,64,89);}
a:hover {color: rgb(80,77,107);}
