<!DOCTYPE html>
<html lang="ru">
{{ partial "head.html" . }}
<body>
  <script type="text/javascript" src={{"/js/fonts.js" | absURL }}></script>
  <wrapper>
    <header>
        <nav>
        <a href={{ "/" | absURL }} class="button">Главная</a>
        <a href={{ "/prog" | absURL }} class="button">Программирование</a>
        <a href={{ "/comppract" | absURL }} class="button">Компьютерный практикум</a>
        <a href={{ "/web" | absURL }} class="button">Веб проектирование</a>
        <a href={{ "/pit" | absURL }} class="button">ПИТ</a>
        </nav>
    </header>
    <main>
        {{ block "main" . }}
        {{ end }}
    </main>
</body>
</html>